button {
  background-color:rgb(228, 231, 245);
  padding: 7px;
  border-color: rgb(152, 151, 151);
  border-radius: 5px;
}

th, td {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 8px;
}

table {
  border-spacing: 20px ;
}

td {
  background-color: bisque;
}
